.navigation {
  width: 100%;
  height: 15rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba($color-primary, $alpha: 0.1);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;

  &__top {
    background-color: $color-primary;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    list-style: none;
    height: 100%;
    width: 40%;
  }
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__link {
    text-decoration: none;
    color: $color-secondary;
    padding: 0.5rem;
  }

  &__bottom {
    width: 100%;
    height: 9rem;
    margin: auto;
  }
  &__logo {
    height: 8rem;
  }
}
#top {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: end;
}
.nav-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  fill: $color-secondary;
}
.pages {
  width: 60%;
  height: 100%;

  &__items {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }
  &__list {
    padding: 1rem;
  }
  &__link {
    text-decoration: none;
    color: rgba($color-primary, $alpha: 0.7);
    font-weight: 400;
  }
}
.first {
  color: $color-primary-red;
}
.last {
  color: $color-primary-red;
  outline: 4px solid $color-primary-red;
}
.bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
