.guest-speakers {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.speaker-heading {
  color: black;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  position: relative;
  @include underline;
}
.speakers {
  width: 100%;
  height: auto;

  &__list {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    justify-items: self-start;
    row-gap: 5rem;
  }

  &__detail {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    // border: 1px solid black;
  }
  &__photo {
    display: block;
    width: 30%;
    height: 90%;
  }
}
.more-info {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.speaker-name {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: capitalize;
}
.speaker-profession {
  font-weight: 600;
  font-size: 1.2rem;
  color: $color-primary-red;
  font-style: italic;
  position: relative;
  margin-bottom: 1rem;
  &::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: rgba(black, 0.15);
  }
}
.more-about {
  font-size: 1.13rem;
  font-weight: 600;
  color: rgba(black, 0.65);
  hyphens: auto;
}
